<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manage Groceries</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">ADMIN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAdmin" aria-controls="navbarNavAdmin" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAdmin">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/admin/manageGroceries}">Manage Groceries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/admin/manageGroceryCategories}">Manage Grocery Categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/admin/viewActivityLog}">View Activity Log</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/admin/viewAllOrders}">View All Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/logout}">Log Out</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-5">
    <h2 class="mb-4">Manage Grocery Categories</h2>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="groceryCategory : ${groceryCategoryList}">
            <td th:text="${groceryCategory.id}"></td>
            <td>
                <a th:text="${groceryCategory.name}"></a>
            </td>
            <td>
                <a th:href="@{/admin/editGroceryCategory/{id}(id=${groceryCategory.id})}" class="btn btn-primary btn-sm">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/admin/addGroceryCategory}" class="btn btn-primary btn-sm">Add new</a>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
