<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grocery Store</title>
</head>
<body>
Grocery Store
<div>
<!--    <form action="#" th:action="@{/store/grocerySearch}" th:object="${grocery}" method="post">
        <p>Name: <input type="text" th:field="*{name}" /></p>
        <p>
            Category:
            <select class="form-control" id="dropDownList">
                <option value="">select category...</option>
                <option th:each="groceryCategory : ${groceryCategoryList}" th:value="*{category}" th:text="${groceryCategory}"></option>
            </select>
        </p>
        <p>Price: <input type="number" th:field="*{price}" /></p>
        <p>Description: <input type="text" th:field="*{description}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>-->
</div>

</body>
</html>