<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grocery Store</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
Grocery Store
<div>
<!--    <form action="#" th:action="@{/store/grocerySearch}" th:object="${grocery}" method="post">
        <p>Name: <input type="text" th:field="*{name}" /></p>
        <p>
            Category:
            <select class="form-control" id="dropDownList">
                <option value="">select category...</option>
                <option th:each="groceryCategory : ${groceryCategoryList}" th:value="*{category}" th:text="${groceryCategory}"></option>
            </select>
        </p>
        <p>Price: <input type="number" th:field="*{price}" /></p>
        <p>Description: <input type="text" th:field="*{description}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>-->
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>