<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Activity Log</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<script>
    function callAjaxFilterName(value) {
        $.ajax({
            type: 'GET',
            url: '/rest/order/name/' + (value.length >= 3 ? value : '*'),
            dataType: 'json',
            success: function(orders) {
                console.log(orders);
                let tableBody = document.querySelector('.table tbody');
                tableBody.innerHTML = '';

                if (orders.length === 0) {
                    tableBody.innerHTML = `<tr>
                                <td colspan="7" class="text-center">No orders found.</td>
                            </tr>`;
                } else {
                    orders.forEach(function(orders) {
                        let row = `<tr>
                                            <td>${grocery.name}</td>
                                            <td>${grocery.categoryString}</td>
                                            <td>${grocery.measure}</td>
                                            <td>${grocery.measuringUnitString}</td>
                                            <td>${grocery.price} €</td>
                                            <td>${grocery.description}</td>
                                            <td><img src="data:image/png;base64,${grocery.image}" class="img-fluid" style="width: 80px; height: 80px"/></td>
                                        </tr>`;
                        tableBody.innerHTML += row;
                    });
                }
            },
            error: function() {
                console.log('Error loading ');
            }
        });

    }

    function callAjaxFilterDate(value) {
        $.ajax({
            type: 'GET',
            url: '/rest/order/date/' + (value.length >= 3 ? value : '*'),
            dataType: 'json',
            success: function(orders) {
                console.log(orders);
                let tableBody = document.querySelector('.table tbody');
                tableBody.innerHTML = '';

                if (orders.length === 0) {
                    tableBody.innerHTML = `<tr>
                                <td colspan="7" class="text-center">No orders found.</td>
                            </tr>`;
                } else {
                    orders.forEach(function(orders) {
                        let row = `<tr>
                                            <td>${grocery.name}</td>
                                            <td>${grocery.categoryString}</td>
                                            <td>${grocery.measure}</td>
                                            <td>${grocery.measuringUnitString}</td>
                                            <td>${grocery.price} €</td>
                                            <td>${grocery.description}</td>
                                            <td><img src="data:image/png;base64,${grocery.image}" class="img-fluid" style="width: 80px; height: 80px"/></td>
                                        </tr>`;
                        tableBody.innerHTML += row;
                    });
                }
            },
            error: function() {
                console.log('Error loading ');
            }
        });

    }
</script>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Grocery Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/store/grocerySearch}">Search for groceries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/store/categorySearch}">Search for categories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/store/myOrders}">My orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/store/shoppingCart}">View cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/logout}">Log Out</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container mt-5">
    <h2 class="mb-4">My Orders</h2>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>User</th>
            <th>Groceries</th>
            <th>Payment Method</th>
            <th>Order Date</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}"></td>
            <td>
                <a th:text="${order.user.username}"></a>
            </td>
            <td>
                <table>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Measure</th>
                        <th>Count</th>
                        <th>Price</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="grocery : ${order.groceries}">
                        <td th:text="${grocery.grocery.name}"></td>
                        <td th:text="${grocery.grocery.category.name}"></td>
                        <td th:text="${grocery.grocery.measure} + ' ' + ${grocery.grocery.measuringUnit.name}"></td>
                        <td th:text="${grocery.count}"></td>
                        <td th:text="${{grocery.grocery.price * grocery.count}}"></td>
                        <td th:text="${grocery.grocery.description}"></td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td>
                <a th:text="${order.paymentMethod}"></a>
            </td>
            <td>
                <a th:text="${#dates.format(order.orderTs, 'dd.MM.yyyy HH:mm:ss')}"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>